<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hot-sneaks/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hot-sneaks/jquery-ui.structure.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hot-sneaks/jquery-ui.theme.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hot-sneaks-complement.css') }}" />
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/js.cookie.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {

                // apply jQueryUI effects
                $("input[type='button']").button();

                // make submit buttons submit their form
                // input type=submit was not used because the default handler for clicking
                // a submit button is very slow on touch screen devices
                $("input[data-type='submit']").click(function() {
                    $(this).closest('form').submit();
                });

                {% if oneOffMessages|length > 0 %}
                    $("#oneOffMessageBox").show();
                {% endif %}

                // read the cookie about what messages have been seen by this user
                var seenMessagesString = Cookies.get("seen-messages");
                if (seenMessagesString == undefined) {
                    seenMessagesString = "";
                }

                // turn the cookie content into an array of message id's
                var seenMessages = [];
                if (seenMessagesString != "") {
                    seenMessages = seenMessagesString.split(",");
                }

                // decide whether to hide each message
                $("#oneOffMessageBox ul li").each(function() {
                    var messageId = $(this).attr("data-message-id");
                    if (seenMessages.indexOf(messageId) != -1) {
                        $(this).hide();    // hide the messages the user has already seen
                    } else {
                        seenMessages.push(messageId);   // remember to hide it next time if it wasn't hidden already
                    }
                });
                seenMessagesString = seenMessages.join(",");
                Cookies.set("seen-messages", seenMessagesString, {expires: 14, path: '/'});

                // hide the entire div if all messages are to be hidden
                if ($("#oneOffMessageBox ul li:visible").length == 0) {
                    $("#oneOffMessageBox").hide();
                }

            });
        </script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="content">

            {# Box for displaying one-off messages that are shown only once to each user #}
            <div id="oneOffMessageBox" style="display:none;">
                <ul>
                {% for m in oneOffMessages %}
                    <li data-message-id="{{ m[0] }}">{{ m[2] }}</li>
                {% endfor %}
                </ul>
            </div>

            {% with errorMessages = get_flashed_messages(category_filter=["error"]) %}
                {% if errorMessages %}
                    <ul class="error-flashes">
                    {% for errorMessage in errorMessages %}
                        <li>{{ errorMessage }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            {% with successMessages = get_flashed_messages(category_filter=["success"]) %}
                {% if successMessages %}
                    <ul class="success-flashes">
                    {% for successMessage in successMessages %}
                        <li>{{ successMessage }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        
            {% block body %}
            {% endblock %}
        </div>
        {% block footer %}
        <div class="footer">
            Version: {{ g.version }}
        </div>
        {% endblock %}
    </body>
</html>

