{% extends "base.html" %}

{% block title %}Start a New Election{% endblock %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            
            // navigate back to the main page when the Cancel button is clicked
            $("input[value='Cancel']").click(function() {
                window.location.href="{{ urlForVotingSpace }}";
            });

            // navigate to the election page when the corresponding button is clicked
            $("input[value='Visit Election Page']").click(function() {
                window.location.href="{{ urlForVotingSpace }}";
            });

        });
    </script>
{% endblock %}
{% block body %}
        {% if action == START %}

        <form name='startElection' action="{{ formAction }}" method='POST'>
            <h1>Start a New Election With These Settings?</h1>

            <p><b>Question to be Posted:</b> {{ query }}</p>
            <p><b>Voting Closes at:</b> {{ closeTime }}</p>
            <p><b>Content of Message to Everyone:</b> {{ reminder }}</p>
            <h3 class="reliability-warning">Note: Clicking the Start Election button will immediately start a new election and send the above message to everyone.</h3>

            <div class='control-box'>
                <input type='button' value='Cancel' />
                <input type='button' data-type='submit' value='Start Election' />
            </div>
        </form>

        {% elif action == CONFIRM_START_ELECTION %}

        <h1>New election added</h1>
        <table>
            <tr><td>Content of Message to Everyone:</td><td>{{ reminder }}</td></tr>
            <tr><td>Question to be Posted:</td><td>{{ query }}</td></tr>
            <tr><td>Time Voting Closes:</td><td>{{ closeTime }}</td></tr>
            <tr><td>Date:</td><td>{{ date }}</td></tr>
        </table>
        <br />

        <div class='control-box'>
            <input type='button' value='Visit Election Page' />
        </div>
        <br />
        <br />

        {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

